<html>

<style>
.button1{
    text-align: center;
    font-size: 20px;
    width: 200px;
}
.button_to {
    text-align: center;
    margin: auto;
}

</style>


<body>
<%= button_to "Play Connect4", connect4_game_path, :method => "get", :class => "button1"%>
</body>
</html>
